@font-face{
    font-family: 'metropolis';
    src: url('./assets/fonts/metropolis.black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'metropolis-bold';
    src: url('./assets/fonts/metropolis.bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'metropolis-regular';
    src: url('./assets/fonts/metropolis.regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'metropolis-light';
    src: url('./assets/fonts/metropolis.light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'metropolis-medium';
    src: url('./assets/fonts/metropolis.medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'metropolis-extra-light';
    src: url('./assets/fonts/metropolis.extra-light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body{
    height: 100vh;
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-family: 'metropolis', sans-serif;
}
h1{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}
#page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#main-content-container{
    max-width: 970px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#main-content-heading-container{
    margin-top: 218px 
}
#main-heading{
    font-size: 68px;
    color: #FFFFFF ;
    position: relative;
    z-index: 1;
}
#underline{
    text-decoration: none;
    position: relative;
    z-index: 2;
}
#underline::after{
    content: "";
    position: absolute;
    left: -2px;
    bottom: 8px;
    width: 102%;
    border-bottom: 15px solid #B33030;
    z-index: -1;
}
#main-content-body-container{
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    max-width: 970px;
    width: 100%;
    height: 100%;
    border: 1px solid #FFFFFF;
}
.hidden{
    cursor: none;
    /*visibility: hidden;*/
    pointer-events: none;
    display: none;
}
.swiper{
    margin-top: 15px;
    margin-left: 15px;
    height: 100px;
    width: 100%;
}
.swiper-slide{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: relative;
}
.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    z-index: 1;
}
.overlay{
    z-index: 2;
    position: absolute;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'metropolis-bold';
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
}
.swiper-slide-active div{
    background-color: rgba(179, 48, 48, 0.55);
}

.carousel-nav-left-right-container{
    margin-top: 16px;
    margin-left: 25px;
    display: flex;
}
.carousel-nav-left-right-container img{
    height: 31px;
    width: 31px;
    margin-right:14px;
}
#enabled-btn-forward, #enabled-btn-backward{
    cursor: pointer;
}
#lower-body-container{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    height: 100% ;
    display: flex;
    position: relative;
}
#injection-container1{
    display: flex;
}
#injection-container2{
    display: none;
}
#injection-container3{
    display: none;
}
#injection-container4{
    display: none;
}
#injection-container5{
    display: none;
}
#injection-container6{
    display: none;
}
#injection-container7{
    display: none;
}
#injection-container8{
    display: none;
}
#lower-body-right-container{
    margin-left:20px;
}
#lower-body-right-container h2{
    margin: 0;
    font-size: 25px;
    color: #FFFFFF;
    font-family: 'metropolis-bold';
    line-height: 144%;
    font-weight: 700;
    font-style: normal;
}
#lower-body-right-container p{
    color: #FFF;
    font-family: 'metropolis-extra-light';
    font-size: 16px;
    font-style: light;
    font-weight: 200;
    line-height: 160%; 
}
#lower-body-right-container button{
    margin-top: 25px;
    border-radius: 5px;
    background: #B33030;
    display: inline-flex;
    padding: 6px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'metropolis-regular';
    font-size: 18px;
    font-style: normal;
    line-height: 137%;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
#lower-right-corner-square-outer{
    height: 52px;
    width: 52px;
    position: absolute;
    bottom: 25px;
    right: 30px;
    border-right: 1px white solid;
    border-bottom: 1px white solid;
    
}
#lower-right-corner-square-inner{
    height: 28px;
    width: 28px;
    position: absolute;
    bottom: 37px;
    right: 42px;
    border-right: 1px white solid;
    border-bottom: 1px white solid;
}

#footer-container{
    height: 312px;
    width: 100%;
}
#outline-logo{
    position: absolute;
    top: 625px;
    left: 0;
    z-index: -1;
}

@media screen and (max-width: 975px) {
    #main-content-container{
        max-width: 378px;
    }
    #main-content-heading-container{
        margin-top: 84px 
    }
    #main-content-body-container{
        margin-top: 50px;
        min-height: 741px;
        height: 100%;
    }
    #main-heading{
        font-size: 25px;
        color: #FFFFFF ;
        position: relative;
        z-index: 1;
    }
    #underline{
        text-decoration: none;
        position: relative;
        z-index: 2;
    }
    #underline::after{
        content: "";
        position: absolute;
        left: 0px;
        bottom: 3px;
        width: 102%;
        border-bottom: 6px solid #B33030;
        z-index: -1;
    }
    .swiper{
        margin-top: 15px;
        margin-left: 15px;
        height: 60px;
        width: 100%;
    }
    .overlay{
        z-index: 2;
        position: absolute;
        text-align: center;
        color: #FFFFFF;
        font-size: 16px;
        font-family: 'metropolis-bold';
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center; 
        cursor: pointer;
    }
    .swiper-slide{
        width: 138px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
        position: relative;
        overflow: hidden;
    }
    .swiper-slide img{
        overflow: hidden;
    }
    .carousel-nav-left-right-container{
        display: none;
    }
    #lower-body-container{
        margin-top: 25px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        height: 100% ;
        width: 348px;
        display: flex;
        position: relative;
    }
    #injection-container1{
        display: flex;
        flex-direction: column;
    }
    #injection-container2{
        display: none;
        flex-direction: column;
    }
    #injection-container3{
        display: none;
        flex-direction: column;
    }
    #injection-container4{
        display: none;
        flex-direction: column;
    }
    #injection-container5{
        display: none;
        flex-direction: column;
    }
    #injection-container6{
        display: none;
        flex-direction: column;
    }
    #injection-container7{
        display: none;
        flex-direction: column;
    }
    #injection-container8{
        display: none;
        flex-direction: column;
    }
    #lower-body-left-img {
        height: 176px;
        width: 348px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    #lower-body-left-img img{
       height: auto;
       width: auto;
    }
    #lower-body-right-container{
        margin-left: 0px;
        margin-bottom: 20px;
    }
    #lower-body-right-container h2{
        margin-top: 22px;
        font-size: 18px;
    }
    #lower-body-right-container p{
        font-size: 15px;
        line-height: 144%;
    }
    #lower-right-corner-square-outer{
        width: 42px;
        height: 42px;
        right: 20px;
        bottom: 20px
    }
    #lower-right-corner-square-inner{
        width: 22px;
        height: 22px;
        right: 30px;
        bottom: 30px
    }
    #outline-logo{
        display: none
    }
    #hidden1, #hidden2, #hidden3, #hidden4{
        display: none;
        pointer-events: none;
    }
    #last-slide{
        margin-right: 88px;
    }
}